.a-code {
    display: block;
    padding: $default-padding-medium;
    border: 1px solid $color--ui;
    border-radius: $default-margin-small;
    background-color: $color--athens-gray;
    color: $color--text;
    overflow: hidden;

    * + & {
        margin-top: $default-margin-medium;
    }
}