.a-tag {
    position: relative;
    bottom: -$default-margin-small;
    margin: 0 $default-margin-small $default-margin-small 0;
    padding: $default-margin-small/2 $default-margin-small;
    border-radius: $default-margin-small/2;
    @extend .f-sz--meta;
    background-color: $color--border;
    color: $color--text;
    z-index: $z-before;

    &:last-child {
        margin: 0 0 $default-margin-small 0;
    }

    &:hover {
        background-color: $color--focus;
        color: $color--text-inverted;
    }

    &:focus {
        background-color: $color--focus;
        color: $color--text-inverted;
    }
}