/* GLOBAL CLASSES ----------------------------------------------------------- */

// CLEARFIX ----------------------------------------------------------------- //
.cf,
.clearfix {
    *zoom: 1;
}

.cf::before,
.clearfix::before,
.cf::after,
.clearfix::after {
    content: ' ';
    display: table;
    width: 0;
    height: 0;
}

.cf::after,
.clearfix::after {
    clear: both;
}

.clear {
    clear: both;
}

// FLOATS ------------------------------------------------------------------- //
.float-l {
    float: left;
}

.float-r {
    float: right;
}

// ASPECT RATIOS ------------------------------------------------------------ //
.aspect-1-1,
.aspect-2-1,
.aspect-4-3,
.aspect-16-9 {
    position: relative;
    height: 100%;
  
    > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    > picture {
        width: 100%;
        min-width: 100%;
        height: 100%;
        overflow: hidden;

        > img {
            right: -50%;
            width: auto;
            min-width: 100%;
            height: 100%;
            transform: translateX(-50%);
        }
    }

    &:before {
        content: '';
        display: block;
        position: relative;
        height: 0;
        width: 100%;
    }
}

.aspect-1-1 {
  
    &:before {
      padding-bottom: ppc(1,1);
    }
}

.aspect-2-1 {
  
    &:before {
      padding-bottom: ppc(1,2);
    }
}

.aspect-4-3 {
  
    &:before {
      padding-bottom: ppc(3,4);
    }
}

.aspect-16-9 {
  
    &:before {
        padding-bottom: ppc(9,16);
    }
}

// DIVIDER ------------------------------------------------------------------ //
.divider-small {
    paddding: $default-margin-small 0;
}

.divider-medium {
    padding: $default-margin-medium 0;
}

.divider-large {
    padding: $default-margin-large 0;
}