h1 {
    @extend .f-primary--bold;
    @extend .f-sz--h1;
}

h2 {
    @extend .f-primary--reg;
    @extend .f-sz--h2;
}

h3 {
    @extend .f-primary--reg;
    @extend .f-sz--h3;
}

h4 {
    @extend .f-primary--reg;
    @extend .f-sz--h4;
}

h5, h6 {
    @extend .f-primary--reg;
    @extend .f-sz--copy;
}
