/* LAYOUT  ------------------------------------------------------------------ */

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    @extend .cf;

  ::selection {
    background: $color--selection;
    color: $color--text-inverted;
  }
}

.container {
    max-width: $page-width-max + px;
    margin: 0 auto;
}

#root {
    height: 100%;
    min-height: 100vh;
}

.app-main {
    @extend .cf;
}

.app-page {
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 $default-margin-medium;
    @extend .cf;
}

.app-content {
    position: relative;
    height: 100%;
    padding-bottom: $default-margin-xlarge;
    @extend .cf;
}
