a {
    color: inherit;
    text-decoration: none;

    &:focus {
        border: 0;
        outline: 2px dashed $color--focus;
        color: $color--focus;
    }

    &.a-underlined {
        text-decoration: underline;
    }
}

a:not(.l-card):not(.a-tag) {

    &:hover,
    &:active,
    &:focus {
        color: $color--focus;
    }
}

.l-card {
    display: block;
    width: 100%;
    height: 100%;

    span {
        position: relative;
        z-index: $z-before;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: $z-zero;
    }

    .a-headline & {
        display: inline;
    }
}