/* TEXT --------------------------------------------------------------------- */

body, p {
    @extend .f-primary--reg;
    @extend .f-sz--copy;
}

em, strong, b {
    @extend .f-primary--bold;
}

i {
    @extend .f-primary--italic;
}

code {
    @extend .f-sz--meta;
}