.o-card-list {
    $parent: &;
   
    &__wrapper {
        $p: &;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: -$default-margin-small;

        &:not(.no-stretch) {
            align-items: stretch;
        }

        &--start {
            justify-content: flex-start;
        }
    
        &--end {
            justify-content: flex-end;
        }
    
        &--center {
            justify-content: center;
        }

        + #{$p} {
            margin-top: $default-margin-medium;
        }
    }

    .m-card {
        flex-shrink: 1;
        flex-grow: 0;
        padding: $default-margin-small;
    }

    + #{$parent} {
        margin-top: $default-margin-large;
    }
}