/* COLORS ------------------------------------------------------------------- */

$color--black:                #000000;
$color--white:                #ffffff;
//grey
$color--athens-gray:          #FCFCFD;
$color--silver:               #CCCCCC;
$color--nobel:                #B3B3B3;
$color--scorpion:             #575757;
// red
$color--torch-red:            #FA1954;
$color--paprika:              #99052C;
// green
$color--aero-blue:            #CAFCD7;
$color--emerald:              #32D25F;
$color--green-pea:            #1C6E33;
// blue
$color--sail:                 #b8e4fa;
$color--cornflower-blue:      #6195ED;
$color--tory-blue:            #0D46A5;
// orange
$color--tacao:                #efc285;


// colors by usage
$color--background:             transparent !default;
$color--text:                   $color--black !default;
$color--text-inverted:          $color--white !default;
$color--ui:                     $color--silver !default;
$color--border:                 $color--silver !default;
$color--hover:                  $color--aero-blue !default;
$color--highlight:              $color--torch-red !default;
$color--focus:                  $color--emerald !default;
$color--selection:              $color--emerald !default;
