/* GRID --------------------------------------------------------------------- */

$one_col: (100% / $max-columns * 1);

[class*="col-"] {
    position: relative;
    margin: 0 auto;
}

// MOBILE -------------------------------------------------------------------

@include bp('xsmall') {
    @for $col from ($max-columns - 1) through 1 {
        $calculated-width: (100% / $max-columns * $col);

        .col-xs-#{$col} {
            width: #{$calculated-width};
        }
    }

    .col-xs-#{$max-columns} {
        @include tableclearfix;
        width: 100%;
    }

    @for $col from 1 through $max-columns {
        $calculated-width: (100% / $max-columns * $col);

        .col-xs-#{$col}-offset {
            margin-left: #{$calculated-width};
        }

        .col-xs-#{$col}-push {
            margin-right: #{$calculated-width};
        }
    }
}

@include bp('small-only') {
    @for $col from ($max-columns - 1) through 1 {
        $calculated-width: (100% / $max-columns * $col);

        .col-s-#{$col} {
            width: #{$calculated-width};
        }
    }

    .col-s-#{$max-columns} {
        @include tableclearfix;
        width: 100%;
    }

    @for $col from 1 through $max-columns {
        $calculated-width: (100% / $max-columns * $col);

        .col-s-#{$col}-offset {
            margin-left: #{$calculated-width};
        }

        .col-s-#{$col}-push {
            margin-right: #{$calculated-width};
        }
    }
}

// TABLET -------------------------------------------------------------------

@include bp('medium-only') {

    @for $col from ($max-columns) through 1 {
        $calculated-width: (100% / $max-columns * $col);

        .col-m-#{$col} {
            width: #{$calculated-width};
        }
    }

    .col-m-#{$max-columns} {
        @include tableclearfix;
        width: 100%;
    }


    @for $col from 1 through $max-columns {
        $calculated-width: (100% / $max-columns * $col);

        .col-m-#{$col}-offset {
            margin-left: #{$calculated-width} !important;
        }

        .col-m-#{$col}-push {
            margin-right: #{$calculated-width};
        }
    }
}

// DESKTOP ------------------------------------------------------------------

@include bp('large') {

    @for $col from ($max-columns) through 1 {
        $calculated-width: (100% / $max-columns * $col);

        .col-l-#{$col} {
            width: #{$calculated-width};
        }
    }

    .col-l-#{$max-columns} {
        @include tableclearfix;
        width: 100%;
    }


@for $col from 1 through $max-columns {
    $calculated-width: (100% / $max-columns * $col);

        .col-l-#{$col}-offset {
            margin-left: #{$calculated-width} !important;
        }

        .col-l-#{$col}-push {
            margin-right: #{$calculated-width};
        }
    }
}
