/* MIXINS ------------------------------------------------------------------- */

/* Converts px to rems. Via David Ensinger: http://davidensinger.com/2013/03/using-rems-with-sass/
  Usage: @include rem(font-size, 12px);
*/
@mixin rem($property, $values) {
    // Create a couple of empty lists as output buffers.
    $font-size: $font-size-base;
    $px-values: ();
    $rem-values: ();

    // Loop through the $values list
    @each $value in $values {
        // For each property value, if it's in rem or px, derive both rem and
        // px values for it and add those to the end of the appropriate buffer.
        // Ensure all pixel values are rounded to the nearest pixel.
        @if $value == 0 or $value == 0px {
            // 0 -- use it without a unit
            $px-values: join($px-values, 0);
            $rem-values: join($rem-values, 0);
        } @else if type-of($value) == number and not unitless($value) and (unit($value) == px) {
            // px value given - calculate rem value from font-size
            $new-rem-value: $value / $font-size;
            $px-values: join($px-values, round($value));
            $rem-values: join($rem-values, unquote("#{$new-rem-value}rem"));
        } @else if type-of($value) == number and not unitless($value) and (unit($value) == "%") {
            // % value given - don't add px or rem
            $px-values: join($px-values, #{$value});
            $rem-values: join($rem-values, #{$value});
        } @else if $value == auto {
            // auto - don't add px or rem
            $px-values: join($px-values, auto);
            $rem-values: join($rem-values, auto);
        } @else {
            // unitless value - use those directly as rem and calculate the px-fallback
            $px-values: join($px-values, round($value * $font-size));
            $rem-values: join($rem-values, #{$value}rem);
        }
    }   
    // output the converted rules
    #{$property}: $px-values;
    #{$property}: $rem-values;
}

/// toFixed() function in Sass
/// @author Hugo Giraudel
/// @param {Number} $float - Number to format
/// @param {Number} $digits [2] - Number of digits to leave
/// @return {Number}
@function to-fixed($float, $digits: 2) {
    $sass-precision: 5;

    @if $digits > $sass-precision {
        @warn "Sass sets default precision to #{$sass-precision} digits, and there is no way to change that for now."
        + "The returned number will have #{$sass-precision} digits, even if you asked for `#{$digits}`."
        + "See https://github.com/sass/sass/issues/1122 for further informations.";
    }

    $pow: pow(10, $digits);
    @return round($float * $pow) / $pow;
}

// tableclearfix
@mixin tableclearfix {
    *zoom: 1;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

// breakpoints
$breakpoints: (
    // < 400
    'xsmall': '(max-width:  #{($bp-xsmall) / 16}em)',
    // > 400
    'small': '(min-width: #{($bp-xsmall) / 16}em)',
    // < 767
    'small-max': '(max-width:  #{($bp-small - 1) / 16}em)',
    // 400 - 767
    'small-only': '(min-width: #{($bp-xsmall) / 16}em) and (max-width:  #{($bp-small - 1) / 16}em)',
    // > 768
    'medium': '(min-width:  #{$bp-small / 16}em)',
    // < 1023
    'medium-max': '(max-width: #{($bp-medium - 1) / 16}em)',
    // 768 - 1023
    'medium-only': '(min-width: #{$bp-small / 16}em) and (max-width: #{($bp-medium - 1) / 16}em)',
    // > 1024
    'large': '(min-width:  #{$bp-medium / 16}em)',
    // < 1440
    'large-max': '(max-width: #{($bp-large - 1) / 16}em)',
    // 1024 - 1440
    'large-only': '(min-width: #{$bp-medium / 16}em) and (max-width: #{($bp-large) / 16}em)',
) !default;


@mixin bp($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media #{map-get($breakpoints, $breakpoint)} {
            @content;
        }
    } @else {
        @warn "No value available from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

