/* TYPOGRAPHY  -------------------------------------------------------------- */

.f-primary--reg {
    font-family: $font-primary;
    font-weight: normal;
}

@mixin f-primary--reg {
    font-family: $font-primary;
    font-weight: normal;
}

.f-primary--bold {
    font-family: $font-primary;
    font-weight: bold;
}

@mixin f-primary--bold {
    font-family: $font-primary;
    font-weight: bold;
}

.f-primary--italic {
    font-family: $font-primary;
    font-weight: normal;
    font-style: italic;
}

@mixin f-primary--italic {
    font-family: $font-primary;
    font-weight: normal;
    font-style: italic;
}

// font sizes
.f-sz--copy {
    @include rem(font-size, $font-size-base);
    @include rem(line-height, 22px);
}

.f-sz--meta {
    @include rem(font-size, $font-size-small);
    @include rem(line-height, 16px);
}

.f-sz--h1 {
    @include rem(font-size, 40px);
    @include rem(line-height, 42px);
    
    @include bp(medium) {
        @include rem(font-size, 50px);
        @include rem(line-height, 52px);
    }
}

.f-sz--h2 {
    @include rem(font-size, 30px);
    @include rem(line-height, 32px);

    @include bp(medium) {
        @include rem(font-size, 40px);
        @include rem(line-height, 42px);
    }
}

.f-sz--h3 {
    @include rem(font-size, 25px);
    @include rem(line-height, 27px);

    @include bp(medium) {
        @include rem(font-size, 30px);
        @include rem(line-height, 32px);
    }
}

.f-sz--h4 {
    @include rem(font-size, 20px);
    @include rem(line-height, 22px);

    @include bp(medium) {
        @include rem(font-size, 22px);
        @include rem(line-height, 24px);
    }
}


// general font styles
.f-st--bold {
    font-weight: bold;
}

.f-st--italic {
    font-style: italic;
}
