/* VARIABLES  --------------------------------------------------------------- */

// LAYOUT ------------------------------------------------------------------- //

// page widths
$page-width-min: 300;
$page-width-max: 1440;

// breakpoints
$bp-xsmall: 500;
$bp-small: 768;
$bp-medium: 1024;
$bp-large: $page-width-max;


// GRID --------------------------------------------------------------------- //

// columns
$max-columns: 12;

// grid gutter
$gutter-small: 10px;
$gutter: 20px;


// PADDING ------------------------------------------------------------------ //
$default-padding-small: 10px;
$default-padding-medium: 20px;
$default-padding-large: 40px;
$default-padding-xlarge: 80px;


// MARGIN ------------------------------------------------------------------- //
$default-margin-small: 10px;
$default-margin-medium: 20px;
$default-margin-large: 40px;
$default-margin-xlarge: 80px;


// FONTS -------------------------------------------------------------------- //
$font-primary: 'Lucida Sans', 'Arial', sans-serif;
$font-size-base: 16px;
$font-size-small: 12px;


// COLORS ------------------------------------------------------------------- //
@import 'colors';

// Z-INDEX ------------------------------------------------------------------ //
$z-behind: -1;
$z-zero: 0;
$z-before: 1;
$z-ui-element: 100;
$z-overlay: 500;
