.m-card {
    position: relative;
    display: flex;
    margin: 0;

    &:not([class*="col-"]) {
        width: 100%;
    }
    
    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: $default-padding-medium;
        border: 1px solid $color--ui;
        border-radius: $default-margin-small;
        overflow: hidden;
        
        &:hover,
        &:focus {
            background-color: $color--hover;
        }

        .m-card--dark & {
            background-color: $color--text;
            color: $color--text-inverted;
        }

        .m-card--highlight & {
            background-color: $color--highlight;
            color: $color--text-inverted;
        }
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__tag-list {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-self: flex-end;
        margin-top: auto;
    }

    .a-text {
        margin: 0 0 $default-margin-medium 0;
    }

    &--horizontal {

        .m-card__wrapper {
            
            @include bp(small) {
                flex-direction: row;
            }
        }

        .m-card__image-wrapper,
        .m-card__content-wrapper {
            
            @include bp(small) {
                width: 50%;
                float: left;
            }
        }

        .m-card__image-wrapper {

            @include bp(small) {
                padding: 0 $default-margin-small 0 0;
            }
        }

        .m-card__content-wrapper {

            @include bp(small) {
                padding: 0 0 0 $default-margin-small ;
            }
        }

        .a-headline {

            @include bp(small) {
                margin-top: 0;
            }
        }
    }
}